<html lang="pt-br">
	<head>
			<title>Noticia 1</title>
			<meta charset="UTF-8">
			<link rel="stylesheet" href=
			"./css/estilos.css">
	</head>
	<body>
		<h1>Brunico News</h1>
		<h3>Nada além da verdade.</h3>
		<hr>
		<h2>Noticia 1</h2>
		<p>
		Contéudo
		Bruno e CR7 se conheceram em um campo de futebol quando ainda eram jovens.
		Ambos tinham um sonho em comum: se tornarem os melhores jogadores do mundo. 
		Com muito treino e dedicação, suas carreiras se cruzaram novamente em um grande 
		time europeu, onde formaram uma dupla imbatível. 
		Juntos, conquistaram vários títulos, e sua amizade se fortaleceu ainda 
		mais com cada vitória. No final, eles se tornaram lendas, 
		conhecidos não só pelo talento, mas também pela camaradagem e espírito de equipe.
		<p>
		<a href="https://youtu.be/J97P6rzrGWc?feature=shared" target="_blank">Assista ao vídeo</a>
		</p>
		</p>
		<hr>
		<p class="dev-texgo">Desenvolvido Por:
		Brunico1000</p>
		
</body>
</body>